@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* ============================back-to-top===================== */
.updown_animation {
  animation: animateDiv 1s linear infinite;
  animation-direction: alternate;
}
@keyframes animateDiv {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
/* ========================preloader======================= */
.text_loading {
  font: 700 3em Roboto, sans-serif;
  text-align: center;
  user-select: none;
}
.letters_loading {
  color: rgba(255, 255, 255, 0.473);
  position: relative;
}
.text_loading .letters_loading:nth-child(2):before {
  animation-delay: 0.2s;
}
.text_loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.text_loading .letters_loading:nth-child(4):before {
  animation-delay: 0.6s;
}
.text_loading .letters_loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.text_loading .letters_loading:nth-child(6):before {
  animation-delay: 1s;
}

.text_loading .letters_loading:nth-child(7):before {
  animation-delay: 1.2s;
}
.text_loading .letters_loading:before {
  animation: letters_loading 4s infinite;
  color: #fff;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}
@keyframes letters_loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
.loader {
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c), var(--c), rgba(255, 255, 255, 0.473);
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
@media (max-width: 768px) {
  .overflow_hidden {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #025066;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #096a85;
  border-radius: 10px;
}
.navlink:hover {
  -webkit-text-stroke: 0.4px;
}
