@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* ============================back-to-top===================== */
.updown_animation {
  animation: animateDiv 1s linear infinite;
  animation-direction: alternate;
}
@keyframes animateDiv {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
/* ========================preloader======================= */
.loader {
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c), var(--c), #29262c;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
@media (max-width: 768px) {
  .overflow_hidden {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #025066;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #096a85;
  border-radius: 10px;
}
.navlink:hover {
  -webkit-text-stroke: 0.4px;
}
